doctype html
html(lang="en")
    head
        link(rel="manifest", href="manifest.json")
        <meta name="theme-color" content="#C24851">
        
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no")
    
        <!-- Add to homescreen for Safari on iOS -->
        meta(name="mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="apple-mobile-web-app-title", content="RevolutionUC Live")

        title #{title} - RevolutionUC Live Fall 2016

        link(rel="icon" type="image/png" href="/favicon-32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="/favicon-16.png" sizes="16x16")
        link(rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180")

        //link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu:400,700')
        link(rel='stylesheet', href='https://code.getmdl.io/1.2.1/material.indigo-pink.min.css')
        link(rel='stylesheet', href='/stylesheets/main.css')
        // TODO: swich css between day and night styles
    body
        .mdl-layout.mdl-js-layout
            header.mdl-layout__header.mdl-layout__header--scroll
                .mdl-layout__header-row
                    span.mdl-layout-title Live
                    .mdl-layout-spacer
                    nav.mdl-navigation
                        a.mdl-navigation__link(href='/schedule') Schedule
                        a.mdl-navigation__link(href='/talks') Tech Talks
                        a.mdl-navigation__link(href='/sponsors') Sponsors
                        a.mdl-navigation__link(href='/notifications') Notification Settings
                        a.mdl-navigation__link(href='/mentors') Request a Mentor
                        a.mdl-navigation__link(target="_blank", href='https://www.uc.edu/content/dam/common/docs/maps/campus_map_west_color.pdf') Map
            main.mdl-layout__content
                .page-content
                    block content

        script(src='https://code.getmdl.io/1.2.1/material.min.js')
        script(src='/javascripts/main.min.js')
