extends ../layout

block content
    .mdl-grid
        .mdl-cell.mdl-cell--12-col
            h2 Notification Settings

            p Don't miss out on anything. Subscribe to hackathon notifications!

            p
                button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored#subscribe-button Subscribe to Notifications
