extends ../layout

block content
    .row
        .col-sm-12.col-md-4
            .twitter-timeline-container
                a(class="twitter-timeline", href="https://twitter.com/Revolution_UC") Tweets by Revolution_UC
                script(async, src="//platform.twitter.com/widgets.js", charset="utf-8")
        .col-sm-12.col-md-8
            h3 Schedule

            p embed google sheets schedule
