extends ../layout

block content
    .row
        .col-sm-12
            h3 Sponsors
            p Take a break from hacking and check out our awesome sponsors!
            
            ul
                li
                    a(href='https://53.com/') Fifth Third Bank
                li
                    a(href='http://www.ibm.com/') IBM
                li
                    a(href='http://www.northropgrumman.com/') Northrop Grumman
                li
                    a(href='http://www.scripps.com/') Scripps
                li
                    a(href='https://8451.com/') 84.51°
                li
                    a(href='http://eecs.ceas.uc.edu/') University of Cincinnati Department of Electrical Engineering and Computing Systems
                li
                    a(href='http://www.kinetic-vision.com/') Kinetic Vision
                li
                    a(href='http://business.uc.edu/departments/obais/academic-programs/information-systems.html') University of Cincinnati Information Systems
                li
                    a(href='https://www.kroger.com/livekt/') Kroger Technology
                li
                    a(href='http://cech.uc.edu/it.html') University of Cincinnati School of Information Technology
                li
                    a(href='http://familytech.co/') FamilyTech
                li
                    a(href='https://www.simplify3d.com/') Simplify3D
                li
                    a(href='https://mlh.io/') Major League hacking
                li
                    a(href='http://tribunal.uc.edu/') College of Engineering and Applied Science
                li
                    a(href='https://acmatuc.github.io/') ACM@UC
