extends ../layout

block content
    .row
        .col-sm-12
            h3 Tech Talks

            iframe(src='https://docs.google.com/spreadsheets/d/1q3Rn0O4WiCwnFUEHeyRbzxNlOqqfwh0xDA5n-iJHvHk/pubhtml', frameBorder=0, width='100%', height='400px')
